Source: rezosup-solidircd
Maintainer: Raphaël Barrois <xelnor@rezosup.net>
Section: net
Priority: optional
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 8), autotools-dev
Homepage: http://www.rezosup.net/

Package: rezosup-solidircd
Architecture: i386 amd64
Depends: libssl0.9.8, adduser, ${shlibs:Depends}, ${misc:Depends}
Description: Rezosup IRCd
 solid-ircd with patches, the ircd running on the RezoSup irc network.
